{% extends 'main.twig' %}
{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="/posts/css/main.css">
{% endblock %}
{% block main %}
  <div class="wrapper">
    <header class="navbar">
      <div class="container">
        {% block header %}
          <a href="/posts/articles" class="logo">Posts</a>
          <div class="menu">
            {% if user is defined %}
              <span class="person" id="account">{{ user }}</span>
              <ul class="account-menu" id="menu">
                <li class="account-menu-item">
                  <a href="/posts/addpost">
                    <svg class="account-menu-item-icon" viewBox="0 0 24 24">
                      <path fill="#000000" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                    </svg>
                    <span>Add post</span>
                  </a>
                </li>
                <li class="account-menu-item">
                  <a href="/posts/my">
                    <svg class="account-menu-item-icon" viewBox="0 0 24 24">
                      <path fill="#000000" d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                    </svg>
                    <span>My posts</span>
                  </a>
                </li>
                <li class="account-menu-item">
                  <a href="/posts/logout">
                    <svg class="account-menu-item-icon" viewBox="0 0 24 24">
                      <path fill="#000000" d="M14.08,15.59L16.67,13H7V11H16.67L14.08,8.41L15.5,7L20.5,12L15.5,17L14.08,15.59M19,3A2,2 0 0,1 21,5V9.67L19,7.67V5H5V19H19V16.33L21,14.33V19A2,2 0 0,1 19,21H5C3.89,21 3,20.1 3,19V5C3,3.89 3.89,3 5,3H19Z" />
                    </svg>
                    <span>Log out</span>
                  </a>
                </li>
              </ul>
            {% else %}
              <a href="/posts/signin" class="signin-link">Sign in</a>
              <a href="/posts/register" class="register-link">Register</a>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    </header>
    <main class="main">
      <div class="container">
        {% block content %}
          {% for post in posts %}
            <article class="article">
              <div class="article-content">
                <div class="article-header">
                  <a href="/posts/articles/{{ post.id }}" class="title">{{ post.title }}</a>
                  <div class="article-about">
                    <div class="author">{{ post.user }}</div>
                    <div class="date">{{ post.date }}</div>
                  </div>
                </div>
                <div class="content">
                {{ post.text|raw }}
                </div>
                {% include 'likes.twig' %}
              </div>
            </article>
          {% endfor %}
        {% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        {% block footer %}
          Made by Dmitry Marchikhin
        {% endblock %}
      </div>
    </footer>
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script type="text/javascript" src="/posts/js/main.js"></script>
  <script type="text/javascript" src="/posts/js/voutes.js"></script>
{% endblock %}
