{% extends 'main.twig' %}
{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="/posts/css/main.css">
{% endblock %}
{% block main %}
  <div class="wrapper">
    <header class="navbar">
      <div class="container">
        {% block header %}
          <a href="/posts/articles" class="logo">Posts</a>
          <div class="menu">
            {% if user is defined %}
              <span class="person" id="account">{{ user }}</span>
              <ul class="account-menu" id="menu">
                <li class="account-menu-item">
                  <a href="/posts/addpost">Add post</a>
                </li>
                <li class="account-menu-item">
                  <a href="/posts/my">My posts</a>
                </li>
                <li class="account-menu-item">
                  <a href="/posts/logout">Log out</a>
                </li>
              </ul>
            {% else %}
              <a href="/posts/signin" class="signin-link">Sign in</a>
              <a href="/posts/register" class="register-link">Register</a>
            {% endif %}
          </div>
        {% endblock %}
      </div>
    </header>
    <main class="main">
      <div class="container">
        {% block content %}
          {% for post in posts %}
            <article class="article">
              <div class="article-content">
                <div class="article-header">
                  <div class="title">{{ post.title }}</div>
                  <div class="article-about">
                    <div class="author">{{ post.user }}</div>
                    <div class="date">{{ post.date }}</div>
                  </div>
                </div>
                <div class="content">
                {{ post.text|raw }}
                </div>
              </div>
            </article>
          {% endfor %}
        {% endblock %}
      </div>
    </main>
    <footer class="footer">
      <div class="container">
        {% block footer %}
          Made by Dmitry Marchikhin
        {% endblock %}
      </div>
    </footer>
  </div>
{% endblock %}
{% block scripts %}
  {{ parent() }}
  <script type="text/javascript" src="/posts/js/main.js"></script>
{% endblock %}
